/* #region Custom Scroll */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #888;
}

::-webkit-scrollbar-thumb {
    background: white;
}

::-webkit-scrollbar-thumb:hover {
    background: #9f6;
}

/* #endregion */
/* #region Custom Css */

@font-face {
    font-family: 'Source Sans Pro';
    src: url("../fonts/SourceSansProLight.ttf");
}

.display--block {
    display: block !important;
    animation: fadein .5s;
}

* {
    cursor: url("../img/cursor.png") 0 0 , auto;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Source Sans Pro";
    list-style-type: none;
    font-weight: 300;
    line-height: 1.8;
}

body {
    line-height: 1.5;
    font-size: 19px;
    font-weight: 300;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 30px;
    height: 105vh;

}

body {
    background-color: black;
}

.content__container {
    margin: 0 52.8px;
    padding: 48px 12px;
}

video {
    position: fixed;
    min-width: 100%;
    min-height: 100%;
    left: 50%;
    top: 50%;
    right: auto;
    bottom: auto;
    transform: translate(-50%, -50%);
    z-index: -10;
}

.circle {
    pointer-events: none;
    position: absolute;
    width: 20px;
    bottom: -10px;
    height: 20px;
    left: calc(50% - 10px);
    border-radius: 50%;
    background-color: white;
}

.circle--left-top {
    left: 0;
    top: -11px;
}

.circle--left-bottom {
    left: 0;
    bottom: -10px;
}

.circle--right-top {
    left: auto;
    right: 0;
    top: -10px;
}

.circle--right-bottom {
    right: 0;
    left: auto;
    bottom: -10px;
}

.content__container section {
    display: none;
}

.position__abs__menu {
    z-index: 100;
    top: 75%;
    right: 0;
    display: flex !important;
    background-color: #354B60;
    align-items: center;
    flex-direction: column;
    position: absolute;
}

.position__abs__menu li {
    width: 80%;
    text-align: center;
    margin-bottom: 20px;
    margin: 9 15px;
    font-size: 19px;
    line-height: 1.5;
}

.color--green {
    color: #9f6;
    border-color: #9f6 !important;
}

.bg_color--green {
    background-color: #9f6 !important;
}

/* #endregion */
/* #region Nav,Navbar */
.navbar {
    padding: 0 12px;
    width: 100%;
    max-width: 100%;
}

.navbar__main {
    padding: 8px 0;
    margin-top: 15px;
}

nav {
    display: flex;
    justify-content: space-between;
    color: white;
}

.logo {
    margin-right: 16px;
    padding: 5px 0;
    font-size: 2.4rem;
}

.nav__right {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav__right ul {
    display: flex;
    justify-content: center;
}

.nav__item {
    position: relative;
    margin: 0 15px;
}

.nav__item a {
    display: block;
    padding: 15px 65px;
    font-size: 24px;
    border-bottom: 1px solid white;
}

.nav__toggle__button {
    cursor: pointer;
    border: 1px solid white;
    border-radius: 0.25rem;
    display: none;
    padding: 4px 12px;
    line-height: 1;
    font-size: 1.25rem;
    background-color: transparent;
}

.nav__toggle__button span {
    pointer-events: none;
    vertical-align: middle;
    background-size: 100%;
    background-position: center;
    display: inline-block;
    background-image: url("../img/toggle.svg");
    width: 30px;
    height: 30px;
}

/* #endregion */
/* #region Home */
.home__content__right img {
    max-width: 100%;
    height: auto;
}

.section__home {
    padding: 16px;
}

.home__main {
    margin-left: 100px;
    max-width: 810px;
}

.home__content {
    display: flex;
    position: relative;
    padding: 48px 0;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}

.home__content__left {
    margin-right: 20px;                              
    padding: 30px 40px;
    max-width: 505px;
    background-color: rgba(0, 0, 0, .3);
}

.home__title {
    margin-bottom: 28px;
    font-size: 28.8px;
    color: white;
}

.home__description-1 {
    color: white;
    margin-bottom: 28px;
    font-size: 19px;

}

.home__description-2 {
    color: white;
    font-size: 19px;
}

.home__image {
    margin-bottom: 20px;
}

.home__content__right img {
    max-width: 100%;
    height: auto;
}

.home__content--2 {
    width: 100%;
    display: flex;
    justify-content: center;
}


.home__button {
    border: none;
    margin-top: 25px;
    padding: 13px 23px;
    font-size: 20.8px;
    border-radius: 0;
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
}

/* #endregion */
/* #region Gallery */
.gallery__main {
    position: relative;
    margin: 0 auto;
    border-top: 1px solid white;
    max-width: 1300px;    
    padding-top: 48px;
    overflow: hidden;
}
.gallery__content{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% - (25px * (var(--per-view) - 1)))/ var(--per-view));
    grid-gap: 25px;
    position: relative;
    transition: .3s;

}
.gallery__card{
    display: flex;
    overflow: hidden;
    color: white;
    position: relative;
}

.gallery__card__description{
    color: black;
    background-color: white;
    text-align: center;
    width: 80%;
    padding: 5px;
    transition: .5s ease all;
    position: absolute;
    left: -50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.gallery__card--dark{
    transition: .5s ease all;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    display: block;
}
.gallery__card__image{
    width: 100%;
    height: auto;
    transition: .5s ease all;
}
.gallery__card:hover .gallery__card--dark{
    background-color: rgba(0, 0, 0, 0.515);
}
.gallery__card:hover .gallery__card__description{
    left: 50%;
}
.gallery__card:hover .gallery__card__image{
    transform: scale(1.1,1.1);
}
.gallery__arrow--left{
    font-size: 50px;
    color: white;
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 1.5%;
}
i{
    pointer-events: none;
}
.gallery__arrow--right  {
    font-size: 50px;
    color: white;
    cursor:pointer;
    position: absolute;
    top: 50%;
    right:1.5%;
}
/* #endregion */
/* #region About */
.about__main {
    position: relative;
    max-width: 810px;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    padding: 48px 0;
}

.about__content {
    padding: 40px 30px;
    background-color: rgba(0, 0, 0, .3);
}

.about__content * {
    color: white;
}

.about__title {
    margin-bottom: 24px;
}

.about__description--1 {
    margin-bottom: 24px;
}

/* #endregion */
/* #region Contact */
.contact__main {
    max-width: 912px;
    margin: 0 auto;
    font-weight: 500;
    color: white;
}

.contact__row__1 {
    display: flex;
    flex-wrap: wrap;
}
.nav__item a{
    pointer-events: none;
}

.contact__row__1__right {
    width: 50%;
    padding: 0 12px;
    margin-left: auto;
}

.contact__title {
    margin-bottom: 24px;
    font-size: 28.8px;
}

.contact__row__2__left {
    width: 50%;
    padding: 0 55px 0 12px;
}

.contact__form__item {
    display: flex;
    margin-bottom: 30px;
    align-items: stretch;
    position: relative;
    flex-wrap: wrap;
    width: 100%;
}

::placeholder {
    color: white;
}

.contact__form__item *:focus {
    border-color: green;
}

.contact__row__2 {
    display: flex;
}

.contact__form__item * {
    font-size: 1.2rem;
    color: white;
    outline: none;
    flex: 1 1 auto;
    border: none;
    font-family: "Source Sans Pro";
    position: relative;
    width: 1%;
    padding: 15px 0;
    background-color: transparent;
    border-bottom: 1px solid white;
}

.contact__form__item--last {
    display: flex;
    justify-content: end;
}

.contact__form__button {
    border: none;
    border-radius: 0;
    width: max-content;
    font-size: 1.3rem;
    align-self: flex-end;
    display: inline-block;
    padding: 10px 38px;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: white;
}

.contact__row__2__right {
    width: 50%;
    padding: 0 12px;
}

.contact__description--1 {
    font-size: 19px;
    margin-bottom: 24px;
}

.contact__description--2 {
    font-size: 19px;
    margin-bottom: 45px;
}

.contact__map {
    height: 200px;
    width: 100%;
    overflow: hidden;
}

/* #endregion */
/* #region Footer */
footer {
    display: flex;
    justify-content: space-between;
    padding: 25px 12px;
    font-size: 19px;
    color: white;
}

/* #endregion */
/* #region Load */
.load{
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: black;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s ease all;
}
.load__box{
    width: 150px;
    height: 150px;
    border: 15px solid white;
    box-shadow: 0 0 15px white;
    animation: loadbox 2s infinite,pulse 2s infinite alternate;
}
.removeload{
    opacity: 0;
    transition: 1s ease all;
}
@keyframes pulse {
    0%{
        box-shadow: 0 0 15px white;
    }
    100%{
        box-shadow: 0 0 55px 30px white;
    }
}
@keyframes loadbox {
    0%{
        box-shadow: 0 0 15px white;
    }
    100%{
        box-shadow: 0 0 35px 20px white;
        transform: rotate(360deg);
    }
}
/* #endregion */
@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@media only screen and (max-width: 1230px) {
    .nav__item a {
        padding: 15px 45px;
    }
}

@media only screen and (max-width: 1070px) {
    .nav__item a {
        font-size: 19.2px;
    }
}

@media only screen and (max-width: 1012px) {
    .nav__right ul {
        display: none;
    }

    .nav__toggle__button {
        display: block;
    }

    .home__main {
        margin: 0 auto;
    }

    .content__container {
        margin: 0 !important;
    }
}

@media only screen and (max-width: 843px) {
    .home__content__left {
        width: 90%;
    }

}

@media only screen and (max-width: 650px) {
    footer {
        display: block;
    }

    .home__content {
        flex-direction: column;
    }

    .home__content__right {
        display: flex;
    }

    .home__content__left {
        width: 100%;
        margin-bottom: 20px;
    }

    .home__content__right img {
        width: 48%;
        margin-right: 4%;
    }

}

@media only screen and (max-width: 716px) {
    .contact__row__2__left {
        padding: 0 12px;
    }

    .contact__row__1__right {
        width: 100%;
    }

    .contact__row__2 {
        text-align: justify;
        flex-direction: column;
    }

    .contact__row__2>* {
        width: 100%;
    }

    .contact__form__item--last {
        justify-content: center;
    }
}

@media only screen and (max-width: 495px) {
    .home__title {
        font-size: 24px;
        text-align: center;
    }

    .container {
        padding: 0 5px;
    }

    .home__content__left p {
        font-size: 18px;
        text-align: justify;
    }
}